<div class= "row">
	<div class="col-md-10 col-sm-10" align="left">
		<h1><%= @event.name %></h1>
	</div>
	<div class="col-md-2 col-sm-2" align="right">
		<%= link_to "Voltar", events_path %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4 col-sm-4">
		<%= image_tag @event.avatar.url(:medium), size: "300x300"%>		
	</div>
	<div class="col-md-2 col-sm-2">
		<p>
			<strong>Data:</strong>
			<%= @event.date %>
		</p>
		<p>
  		<strong>Horário:</strong>
  		<%= @event.hours %>
		</p>
		<p>
		  <strong>Endereço:</strong>
		  <%= @event.location %>
		</p>
	</div>
	<div class="col-md-6 col-sm-6">
		<p>
  		<%= @event.description %>
		</p>
	</div>
</div>