<div class="cover">
      <div class="cover-image">
        <img src="<%=image_path "cover.jpg"%>">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 id="label">Curta + Gastronomia</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          	<a href="/restaurants">
	            <img src="<%=image_path "restaurant.jpg"%>"
	            width="360" height="240">
	            <h2>Restaurantes</h2></a>
          </div>
          <div class="col-md-4">
          	<a href="/recipes">
            <img src="<%=image_path "recipe.jpg"%>"
            width="360" height="240">
            <h2>Receitas</h2></a>
          </div>
          <div class="col-md-4">
          	<a href="/events">
            <img src="<%=image_path "event.jpg"%>"
            width="360" height="240">
            <h2>Eventos</h2></a>
          </div>
        </div>
      </div>
    </div>

<!--
<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-4">			
			<a href="/restaurants"><img src= "<%=image_path "restaurant.jpg" %>" alt="Restaurantes" width="390" height="280">
			 <h3 id="label">Restaurantes</h3></a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="/recipes"><img src= "<%=image_path "recipe.jpg" %>" alt="Receitas" width="390" height="280">
			<h3 id="label">Receitas</h3></a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="/events"><img src= "<%=image_path "event.jpg" %>" alt="Eventos" width="390" height="280">
			<h3 id="label">Eventos</h3></a>
		</div>
	</div>
</div>

-->